.note {
  display: flex;
  align-items: left;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid var(--dark-green);
  border-radius: 0.5rem;
  height: 15rem;
  padding: 1rem;
  overflow: scroll;
}
.note h1,
.note p {
  color: var(--grey);
  font-size: 1.1em;
  margin-bottom: 0.5rem;
}
.note p {
  line-height: 1.3;
  word-wrap: break-word;
}
.note button {
  color: var(--dark-green);
  background: none;
  width: 30%;
  border: 2px solid var(--dark-green);
  border-radius: 0.3rem;
  outline: none;
  font-weight: 900;
  padding: 0.5rem;
}
.note button:hover {
  cursor: pointer;
  color: var(--red);
  border: 2px solid var(--red);
}
